1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("Hello",18,True,3.14)

Hello 18 True 3.14

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [2]:
print("Hello",18,True,3.14,sep="-")

Hello-18-True-3.14

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [3]:
print("HelloWorld",end=" ")
print(18,end=" ")
print(True,end=" ")
print(3.142,end=" ")

HelloWorld 18 True 3.142

4) Can a python print function take no value to print???

In [4]:
print()

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [5]:
name = "Ahmed"
age = 30
profession = "lawer"
education = "bachelors"
e_complete_year = 2005
law_firm = "The Himalya Associates"
place = "Karachi"
height = 5.10
weight = 70600
income = 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [20]:
c_year = 2025
print(f"Its been {c_year-e_complete_year} years Mr Ahmed passout")

Its been 20 years Mr Ahmed passout

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [21]:
y = 2015
print(f"Its been {c_year-y} years Mr Ahmed working in the firm")

Its been 10 years Mr Ahmed working in the firm

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [10]:
dollar = 279.50
income_d = income*dollar
print(f"The income of Mr Ahmed in dollars is around {income_d}")

The income of Mr Ahmed in dollars is around 55900000.0

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [14]:
if (isinstance(income_d,float) == True):
    print("Its in float!!!")
    print(f"In Integer, it will be around {int(income_d)}")
else:
    print("Its already in integer")

Its in float!!!
In Integer, it will be around 55900000

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [18]:
print(type(weight))
weight_kg = weight * 1000
print(f"In Kg, {weight_kg}")

<class 'int'>
In Kg, 70600000

11) print the year of birth of Mr. Ahmed.

In [19]:
print(f"Mr Ahmed is born in {2025-30}")

Mr Ahmed is born in 1995

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [24]:
if (100%6 == 0):
    print("Yes, Rs 100 can be equally divide among 6 students")
else:
    print("No, Rs 100 can't be equally divide among 6 students")

No, Rs 100 can't be equally divide among 6 students